//File Title: Physical Constraints file
//Board: Tang Nano 9K
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Fri 01 07 19:29:56 2022

// Orange LEDs
IO_LOC "leds[5]" 16;
IO_LOC "leds[4]" 15;
IO_LOC "leds[3]" 14;
IO_LOC "leds[2]" 13;
IO_LOC "leds[1]" 11;
IO_LOC "leds[0]" 10;

// 27MHz
IO_LOC "xtal_in" 52;
IO_PORT "xtal_in" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// User Buttons
IO_LOC "reset_button" 4; // S1
IO_LOC "user_button"  3; // S2

// SPI LCD
IO_LOC "spi_lcd_rs"  49;
IO_LOC "spi_lcd_sda" 77;
IO_LOC "spi_lcd_scl" 76;
IO_LOC "spi_lcd_cs"  48;
IO_LOC "spi_lcd_reset"  47; // en

// TF Card
IO_LOC "tf_cs"   38;
IO_LOC "tf_mosi" 37;
IO_LOC "tf_sclk" 36;
IO_LOC "tf_miso" 39;

// 40pin RGB-LCD
IO_LOC "lcd_b[4]" 41;
IO_PORT "lcd_b[4]" IO_TYPE=LVCMOS33;
IO_LOC "lcd_b[3]" 42;
IO_PORT "lcd_b[3]" IO_TYPE=LVCMOS33;
IO_LOC "lcd_b[2]" 51;
IO_PORT "lcd_b[2]" IO_TYPE=LVCMOS33;
IO_LOC "lcd_b[1]" 53;
IO_PORT "lcd_b[1]" IO_TYPE=LVCMOS33;
IO_LOC "lcd_b[0]" 54;
IO_PORT "lcd_b[0]" IO_TYPE=LVCMOS33;

IO_LOC "lcd_g[5]" 55;
IO_PORT "lcd_g[5]" IO_TYPE=LVCMOS33;
IO_LOC "lcd_g[4]" 56;
IO_PORT "lcd_g[4]" IO_TYPE=LVCMOS33;
IO_LOC "lcd_g[3]" 57;
IO_PORT "lcd_g[3]" IO_TYPE=LVCMOS33;
IO_LOC "lcd_g[2]" 68;
IO_PORT "lcd_g[2]" IO_TYPE=LVCMOS33;
IO_LOC "lcd_g[1]" 69;
IO_PORT "lcd_g[1]" IO_TYPE=LVCMOS33;
IO_LOC "lcd_g[0]" 70;
IO_PORT "lcd_g[0]" IO_TYPE=LVCMOS33;

IO_LOC "lcd_r[4]" 71;
IO_PORT "lcd_r[4]" IO_TYPE=LVCMOS33;
IO_LOC "lcd_r[3]" 72;
IO_PORT "lcd_r[3]" IO_TYPE=LVCMOS33;
IO_LOC "lcd_r[2]" 73;
IO_PORT "lcd_r[2]" IO_TYPE=LVCMOS33;
IO_LOC "lcd_r[1]" 74;
IO_PORT "lcd_r[1]" IO_TYPE=LVCMOS33;
IO_LOC "lcd_r[0]" 75;
IO_PORT "lcd_r[0]" IO_TYPE=LVCMOS33;

IO_LOC "lcd_dclk" 35;
IO_PORT "lcd_dclk" IO_TYPE=LVCMOS33;

IO_LOC "lcd_hsync" 40;
IO_PORT "lcd_hsync" IO_TYPE=LVCMOS33;
IO_LOC "lcd_vsync" 34;
IO_PORT "lcd_vsync" IO_TYPE=LVCMOS33;

IO_LOC "lcd_den" 33;
IO_PORT "lcd_den" IO_TYPE=LVCMOS33;

IO_LOC "lcd_bl" 86
IO_PORT "lcd_bl" IO_TYPE=LVCMOS18;

// IO_LOC "lcd_xr" 32
// IO_PORT "lcd_xr" IO_TYPE=LVCMOS33;
// IO_LOC "lcd_yd" 31
// IO_PORT "lcd_yd" IO_TYPE=LVCMOS33;
// IO_LOC "lcd_xl" 63
// IO_PORT "lcd_xl" IO_TYPE=LVCMOS33;
// IO_LOC "lcd_yu" 31
// IO_PORT "lcd_yu" IO_TYPE=LVCMOS33;


// TODO: HDMI

